<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <section>
    <!-- <div th:replace="layout :: layout(content='home')"></div> -->
    <!-- Main Content -->
    <main class="flex-fill min-vh-100 text-center d-flex">
        <!-- Your main content goes here -->
        <div class="container my-5">
            <h1>Welcome to SAK Group</h1>
            <p>Your content goes here.</p>
        </div>
    </main>
    <!-- Main Content -->
</section>
</body>
</html>