<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <h1>welcome to user</h1>
        <h1>welcome to user</h1>
        <h1>welcome to user</h1>
        <h1>welcome to user</h1>
        <h1>welcome to user</h1>
        <h1>welcome to user</h1>
        <h1>welcome to user</h1>
        <h1>welcome to user</h1>
    </section>
</body>
</html>